<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MedAppoint</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pattaya&display=swap" rel="stylesheet">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    >
  
  
  
  </script>
    <link rel="stylesheet" href="all.css">
    
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark " id="navbar::before">
      <div class="container-fluid">
        
        <img src="/MedAppoint/public/image/logo.png" alt=""  width="50px" height="50px">
        <a class="navbar-brand f" href="index.html">MedAppoint</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item f">
              <a class="nav-link" href="about.html">About</a>
            </li>

            <li class="nav-item f">
              <a class="nav-link" href="contactUs.html">Contact Us</a>
            </li>

            <li class="nav-item f">
              <a class="nav-link" href="explore.html">Explore</a>
            </li>

          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown ">
              <a
                class="nav-link dropdown-toggle f"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="true"
              >
                Login
              </a>
              <ul class="dropdown-menu f">
                <li><a class="dropdown-item" href="login_user.html">For User</a></li>
                <li>
                  <a class="dropdown-item" href="login_hospital.html">For Hospital</a>
                </li>
               
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="contactUs.html">Contact Us</a>
                </li>
                
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown container f ">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                SignUp
              </a>
              <ul class="dropdown-menu f">
                
                </li> <li><a class="dropdown-item" href="signup_user.html">For User</a></li>
                <li>
                  <a class="dropdown-item" href="signup_hospital.html">For Hospital</a>
                </li>
               
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="contactUs.html">Contact Us</a>
                </li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
      </div>
     </nav>


    <br>
    <form>
    <div class="container flex justify-content-center align-items-center">
      <h2>SignUp Here</h2>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Hospital Name</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="hospitalname"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Mobile Number</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Mobile Number"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="contact"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email id</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Email id"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="email"
          />
      </div>


      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Pincode</label>
        <input
        type="text"
        class="form-control"
        placeholder="Enter your Pincode"
        aria-label="Username"
        aria-describedby="basic-addon1"
        name="pin"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Address</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Address"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="address"
          />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Sector</label>
        <select class="form-select" name="org" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Government</option>
          <option value="2">Private</option>
          
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Established In</span>
        <input
          type="text"
          class="form-control"
          placeholder="Since 1943"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="establishedin"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter your Password"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="password"
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Confirm Password</span>
        <input
          type="text"
          class="form-control"
          placeholder="Re-Enter Password"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="confirmpassword"
        />
      </div>
   
     
      <button type="button" class="btn btn-primary">Submit</button>
    </form>
      <footer class="py-3 my-4 f">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="index.html" class="nav-link px-2 text-body-primary">Home</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link px-2 text-body-primary">About</a></li>
          <li class="nav-item"><a href="contactUs.html" class="nav-link px-2 text-body-primary">Contact Us</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 MedAppoint, Inc</p>
      </footer>
  </body>
</html>